// 颜色定义规范
$color-background-global = #fff
$color-background-gray = #f7f8fa
$color-background-black = #6a6a6a
$color-background-yellow-l = #FFFAF0
$color-background-orange = #ff8364
$color-background-red = #d44439
$color-background-shade = rgba(255, 255, 255, 0.8)
$color-href-green = #43CD80
$color-href-blue = #005792
$color-line-gray = #dee4e8
$color-line-white = #eceff6
$color-text-red = #d44439
$color-text-gray = #abb1b5
$color-text-gray-l = #dee4e8
$color-text-gray-d = #949494
$color-text-black = #000000
$color-text-black-l = #54514d
$color-text-blue = #005792
$color-text-blue-l = #0f88eb
$color-text-blue-2 = #53cde2
$color-text-blue-3 = #edf9fc
$color-text-blue-4 = #53c7f0
$color-button-blue = #0d64b0
$color-button-blue-l = #0f88eb
$color-text-white = #ffffff
$color-text-white-d = #f9f9f9
//字体定义规范
$font-size-10px = 10px
$font-size-11px = 11px
$font-size-12px = 12px
$font-size-13px = 13px
$font-size-14px = 14px
$font-size-15px = 15px
$font-size-16px = 16px
$font-size-17px = 17px
$font-size-18px = 18px
$font-size-19px = 19px
$font-size-20px = 20px
$font-size-21px = 21px
$font-size-22px = 22px
$font-size-23px = 23px
$font-size-24px = 24px
$font-size-25px = 25px
$font-size-26px = 26px
$font-size-27px = 27px
$font-size-28px = 28px
$font-size-29px = 29px
$font-size-30px = 30px
$font-size-31px = 31px
$font-size-32px = 32px
$font-size-33px = 33px
$font-size-34px = 34px
$font-size-35px = 35px
$font-size-36px = 36px
$font-size-37px = 37px
$font-size-38px = 38px
$font-size-39px = 39px
$font-size-40px = 40px
$font-size-41px = 41px
$font-size-42px = 42px
$font-size-43px = 43px
$font-size-44px = 44px
$font-size-45px = 45px
$font-size-50px = 50px

$font-family-Microsoft-YaHei = Microsoft YaHei
$font-family-PingFangSC-Ultralight = PingFangSC-Ultralight
$font-family-SimHei = SimHei
